 Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore OS-specific files (e.g., macOS)
.DS_Store

# Ignore other temporary files
npm-debug.log
yarn-debug.log
yarn-error.log